<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>My TODO List Project</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>TODO or not TODO</h1>
            <div class="logo"><img src="" alt=""></div>
        </div>  
        <div class="input">
            <input type="text" name="" id="">
            <button class="input-button">Add</button>
        </div>
        
        <div class="todos">
            <div class="todo">
                <input type="checkbox" name="" id="">
                <p class="text">Todo 1 task </p>
                <button class="edit"></button><button class="delete"></button>
            </div>
            <div class="todo">
                <input type="checkbox" name="" id="">
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, soluta?</p>
                <button class="edit"></button><button class="delete"></button>
            </div>
            <div class="todo">
                <input type="checkbox" name="" id="">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <button class="edit"></button><button class="delete"></button>
            </div>
            <div class="todo">
                <input type="checkbox" name="" id="">
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <button class="edit"></button><button class="delete"></button>
            </div>
            <div class="todo">
                <input type="checkbox" name="" id="">
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                <button class="edit"></button><button class="delete"></button>
            </div>
        </div>
    </div>
        
</body>
</html>